/* font-family: 'Oswald', sans-serif;
font-family: 'Amatic SC', cursive; */

body {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    background-color: rgb(142, 213, 218);
    color: rgb(180, 154, 88);
  }
  
  .stat {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    visibility: hidden;
    margin-top: 20px;
  }
  
  table {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgb(137, 193, 231);
  }
  
  table thead {
    color: grey !important;
  }
  
  table tbody {
    color: green;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #list {
    visibility: hidden;
    padding: 5% 10%;
    background-color: rgb(137, 193, 231);
    width: max-content;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .popup {
    visibility: hidden;
    z-index: 100;
    text-align: center;
    width: 50%;
    position: fixed;
    left: 25%;
    top: 30%;
    color: grey;
    padding: 25px 0;
  
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
  }
  
  .popup h3 {
    margin-bottom: 30px;
  }
  
  nav {
    font-family: "Amatic SC", cursive;
    font-weight: 700;
  }
  
  nav h2 {
    color: green;
  }
  
  .todo {
    margin-left: 10%;
  }
  
  .logout {
    margin-right: 10%;
  }
  
  /* strikethrough animation */
  
  @keyframes strike {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  .strike {
    position: relative;
  }
  .strike::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(214, 106, 106);
    animation-name: strike;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  /* --------- */
  